@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base: 20px;

#buttons {
  text-align: center;
}

#frame_space {
  text-align: center;
  width:100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.frame_shadow {
  margin-top: 20px;
  margin-bottom: 30px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  border-radius: 12px; 

  -moz-box-shadow: 4px 4px 14px #000; 
  -webkit-box-shadow: 4px 4px 14px #000; 
  box-shadow: 4px 4px 14px #000; 
}

div#translate-iframe-wrapper iframe {
	display:block;
	margin:auto;
}

div#pma-iframe-wrapper iframe {
	display:block;
	margin:auto;
}
	
div#app_area_wrapper {
	display:block;
	margin:auto;
	width: 2000px;
	border-style: solid;
	border-width: 30px;
	border-color: #ffffff;
	border-radius: 25px;
}

.trans_left_box {
	width:92%; 
	float:left;
}

.trans_right_box {
	width:92%; 
	float:right;
	
}

.trans_left {
	float:left;
}

.trans_right {
	float:right;
}

.trans_text {
   font-family:Arial;
}

.trans_text:empty{
   display: none;
}

.trans_before_text{
	font-family:Verdana;
}

.trans_after_text_left:empty {
   display: none;
}

.trans_after_text_bottom_left{
	background-color:#89ba17; 
	height:20px; 
	width: 50px; 
	float:right; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#ffffff; 
	padding: 4px; 
	border-top-left-radius: 7px;
	border-top-right-radius: 7px; 
	border-bottom-style: none; 
	margin-top: -21px;
	font-family:Arial;
}


.trans_after_text_bottom_right:empty {
   display: none;
}

.trans_after_text_bottom_right{
	background-color:#00a9d4; 
	height:20px; 
	width: 50px; 
	float:left; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#ffffff; 
	padding: 4px; 
	border-top-left-radius: 7px;
	border-top-right-radius: 7px; 
	border-bottom-style: none; 
	margin-top: -21px;
	font-family:Arial;
}

.trans_before_text_bottom_left:empty {
   display: none;
}

.trans_before_text_bottom_left{
	background-color:#89ba17; 
	height:0px; 
	width: 0px;
	float:right; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#ffffff; 
	padding: 4px; 
	border-radius: 7px;
	font-family:Arial;
	clear:both;
}

.trans_mid_text_bottom_left{
	background-color:#89ba17; 
	height:0px; 
	width: 0px;
	float:right; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#ffffff; 
	padding: 4px; 
	border-radius: 7px;
	font-family:Arial;
	clear:both;
	margin-top: -21px;
}


.trans_before_text_bottom_rightt:empty {
   display: none;
}

.trans_before_text_bottom_right{
	background-color:#00a9d4; 
	height:0px; 
	width: 0px;
	float:left; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#ffffff; 
	padding: 4px; 
	border-radius: 7px;
	font-family:Arial;
	clear:both;
}

.trans_mid_text_top_left{
	background-color:#e1e2e3; 
	height:0px; 
	width: 0px; 
	float:right; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#87888a; 
	padding: 4px; 
	border-radius: 7px;
	/* opacity: 0.6; */
}

.trans_before_text_top_left{
	background-color:#e1e2e3; 
	height:0px; 
	width: 0px; 
	float:right; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#87888a; 
	padding: 4px; 
	border-radius: 7px;
	/* opacity: 0.6; */
}

.trans_after_text_top_left{
	background-color:#e1e2e3; 
	height:20px; 
	width: 50px; 
	float:right; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#87888a; 
	padding: 4px; 
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-style: none;
}

.trans_before_text_top_right{
	background-color:#e1e2e3; 
	height:0px; 
	width: 0px; 
	float:left; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#87888a; 
	padding: 4px; 
	border-radius: 7px;
}

.trans_after_text_top_right{
	background-color:#e1e2e3; 
	height:20px; 
	width: 50px; 
	float:left; 
	font-size: 60%; 
	border: 2px solid #fff; 
	color:#87888a; 
	padding: 4px; 
	border-top-left-radius: 7px;
	border-top-right-radius: 7px; 
	border-bottom-style: none;
}
